/* Định dạng chung */
body {
    background-image: url('../img/img29.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Tiêu đề */
h1,
h2 {
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

/* Thông tin tài khoản */
.account-info p {
    font-size: 18px;
    margin: 10px 0;
}

/* Bảng lịch sử làm bài */
.history-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.history-table th,
.history-table td {
    border: 0.1px solid gray;
    padding: 10px;
    text-align: center;
}

.history-table th {
    background-color: green;
    color: white;
    font-weight: bold;
}

.history-table tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

.history-table tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

.history-table tr:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.history-table td {
    font-size: 16px;
}

/* Nút quay lại */
.btn-back {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

.btn-back:hover {
    background-color: greenyellow;
    color: black;
}

.btn-back i {
    margin-right: 5px;
}