body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fcfaf6;
}

.container,
.quiz-container {
    width: 50%;
    margin: auto;
    padding: 20px;
    background-color: #f6efe3;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 150px;
    border-radius: 10px;
}

.btn {
    display: block;
    width: 85%;
    padding: 15px;
    margin: 5px auto;
    background: #e3cea9;
    border: none;
    cursor: pointer;
    font-size: 20px;
    transition: 0.1s;
    border-radius: 10px;
}

.btn:hover {
    background: #f6efe3;
}

.btn-home {
    background-color: #f6efe3;
    font-size: 20px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    transition: 0.1s;
}

.btn-home:hover {
    background-color: #fcfaf6;
    cursor: pointer;
}

.btn-back {
    background-color: #fcfaf6;
    font-size: 20px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    transition: 0.1s;
}

.btn-back:hover {
    background-color: #f6efe3;
    cursor: pointer;
}

#leaderboard {
    margin-top: 50px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
}

th {
    padding: 5px;
}

.question-nav {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.nav-btn {
    padding: 10px 15px;
    background-color: #f6efe3;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.nav-btn:hover {
    background-color: #ddd;
}

.nav-btn.active {
    background-color: #e3cea9;
    /* Màu xanh nổi bật */
    color: black;
    /* Chữ màu trắng */
    font-weight: bold;
    /* Chữ đậm */
    border: 2px solid black;
    /* Viền đậm hơn */
}

.nav-btn.disabled {
    background-color: #e9ecef;
    color: #6c757d;
    cursor: not-allowed;
    pointer-events: none;
}

.correct {
    background-color: green;
    /* Màu xanh lá */
    color: white;
    pointer-events: none;
    /* Vô hiệu hóa nút */
}

.incorrect {
    background-color: orangered;
    /* Màu đỏ */
    color: white;
    pointer-events: none;
    /* Vô hiệu hóa nút */
}

.next-btn {
    width: 25%;
    margin: 20px auto;
    margin-top: 20px;
    background-color: #00aeff;
    /* Màu xanh dương */
    color: black;
    border: none;
    padding: 20px;
    cursor: pointer;
    font-size: 18px;
}

.next-btn:hover {
    background-color: #1976D2;
    /* Màu xanh đậm hơn khi hover */
}

/* Hiệu ứng mờ dần */
#question,
#answer-buttons {
    transition: opacity 0.5s ease;
}

/* Thanh trạng thái tiến trình */
#progress-bar-container {
    width: 80%;
    margin: 20px auto;
    /* Căn giữa theo chiều ngang */
    margin-bottom: 20px;
}

#progress-bar {
    height: 10px;
    background-color: #4CAF50;
    transition: width 0.5s ease;
}

/* Nút bị vô hiệu hóa */
.nav-btn.disabled {
    background-color: #e0e0e0;
    color: #a0a0a0;
    pointer-events: none;
}